* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto 0;
}
.grid {
  width: 500px;
}
.box {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.box__avatar {
  width: 140px;
  min-height: 140px;
  background-size: cover;
}

.info {
  position: fixed;
  top: 0;
  right: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  background: rgb(190, 221, 240);
}
